<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-TW" >
    <head>
        <title>Ref-level-fun</title>
        
        <style type="text/css">
        	#map {
        		background-size: contain;
        		background-image: url('[[@{/images/worldmap.jpg}]]');
        		width: 1250px;
        		height: 650px;
        	}
        </style>
        
    </head>
    
    <body>
    	<div th:replace="/main/navigation::fragment-nav"></div>
    
		<div id="map"></div>
		
		<h1>入口</h1>
		<a th:href="@{/map/level0/mori}">森林瀑布</a>
		<a th:href="@{/map/level0/sea}">海岸線</a>
		<a th:href="@{/map/level0/shop}">商店街</a>
		
		<h1>階段1</h1>
		<a th:href="@{/map/level1/abundant}">豐裕</a>
		<a th:href="@{/map/level1/arabianDesert}">阿拉伯沙漠</a>
		<span>神廟</spaa>
    </body>
</html>