<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-TW" >
    <head>
        <title>Ref-level-fun</title>
    </head>
    
    <body>
        <h1>Sign in...</h1>
        
        <form method="POST" th:action="@{/user/signin}" th:object="${player}">
		  <label for="username">Username:</label>
		  <input type="text" th:field="*{username}" /><br>
		  <label for="password">Password:</label>
		  <input type="text" th:field="*{password}" /><br>
		  <input type="submit" value="SIGIN">
		  
		  <p class="validationError"
		     th:if="${#fields.hasErrors('password')}">Password 須為6~20</p>
		  <p class="validationError"
		     th:if="${#fields.hasErrors('username')}">Username 須為3~20</p>
		  
		</form>
        
        <img alt="aqua" th:src="@{/images/Aqua.png}"/>
        
    </body>
</html>