<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-TW" >
    <head>
        <title>Ref-level-fun</title>
        
        <link rel="stylesheet" type="text/css" href="/css/background.css">
        <style type="text/css">
        	#map { background-image: url('[[@{/map/desert.png}]]'); }
        	#boss {
        		color: red;
        		font-size: 20px;
        	}
        </style>
        
    </head>
    
    <body>
		<div id="map"></div>
		
		<span id="boss" th:if="${monsters.size()} > 1">你找到了一個綠洲，出現了沙漠鱷魚</span>
		<div th:replace="/map/explore::fragment-explore"></div>
    </body>
</html>